{% extends "auctions/layout.html" %}

{% block body %}
  <form action="{% url 'create_listing' %}" method="POST">
    {% csrf_token %}
    <label for='title'>Title</label>
    <input type="text" name="title"><br>
    <label for='description'>Description</label><br>
    <textarea name="description" rows="10" cols="40"></textarea><br>
    <label for="starting_bid">Starting bid: $</label>
    <input type="number" name="starting_bid"><br>
    <input type="text" name="image" placeholder="Image link (optional)"><br>
    <label for="category">Category: </label>
    <input type="radio" name="category" value="fashion">Fashion
    <input type="radio" name="category" value="toys">Toys
    <input type="radio" name="category" value="electronics">Electronics
    <input type="radio" name="category" value="home">Home
    <br><input type="submit">
  </form>
{% endblock %}