* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
}

header {
  position: absolute;
  top: 20px;
  right: 40px;
}

ul, li {
  display: inline;
}
li {
  padding: 10px 10px;
  font-size: 0.9em;
}

li a {
  color: black;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: rgba(0,0,0,.54);
  border-top: 1px solid rgba(0,0,0,.14);
  background: #f2f2f2;
}

footer ul {
  margin-right: 40px;
}

.main-section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.google-logo {
  font-size: 5em;
  font-weight: 800;
  margin-bottom: 40px;
  text-align: center;
}

.g-blue {
  color: rgb(66, 133, 244);
}
.g-red {
  color: rgb(219, 68, 55);
}
.g-yellow {
  color: rgb(244,180, 0);
}
.g-green {
  color: rgb(15, 157, 88);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main input[type=text] {
  width: 80vw;
  max-width: 650px;
  height: 40px;
  padding: 15px 40px;
  border-radius: 20px;
  border: 2px solid #f2f2f2;
}
.main input[type=text]:focus {
  outline: none;
}

.main input[type=text]:focus {
  box-shadow: 0px 6px 10px 8px #F2F2F2;
}

.button {
  width: 150px;
  height: 30px;
  border: none;
  margin: 20px 20px;
}

.button:hover {
  border: 1px solid #acacac;
}

.advance-search {
  padding: 100px 50px;
  display: grid;
  width: 100vw;
  max-width: 1200px;
  box-sizing: border-box;
}
.advance-search form {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  gap: 20px;
}

hr {
  height: 1px;
  background-color: #bbbbbb;
  border: none;
  width: 100%;
}

.advance-search h1 {
  color: rgb(219, 68, 55);
  font-size: 1.5em;
}

.advance-search h2 {
  font-size: 1.1em;
  color: #949494;
}

form label {
  font-size: 0.9em;
  color: #6b6b6b;
}
.adv-b {
  border: none;
  background-color: rgb(66, 133, 244);
  color: white;
  height: 30px;
  width: 130px;
  font-weight: 800;
  justify-self: flex-end;
}

@media (max-width: 700px) {
  .advance-search form {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 20px;
  }
  .extra-info {
    display: none;
  }
}